body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-oswald: Oswald;
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-41xl: 60px;

  /* Colors */
  --color-darkslategray-100: #363636;
  --color-darkslategray-200: #323233;
  --color-white: #fff;
  --color-black: #000;
  --color-silver-100: #c7c7c7;
  --color-silver-200: #b9b9b9;
  --color-dimgray-100: #58585a;
  --color-gray-100: #929292;
  --color-gray-200: #878787;
  --color-gray-300: #838383;
  --color-cornflowerblue-100: #4ea9ff;
  --color-darkgray: #a1a1a1;
  --color-whitesmoke: #f6f6f6;
  --color-lightgray: #d3d3d3;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-6xl: 25px;
  --br-31xl: 50px;
}
