/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh; /* Set body height to 100% of the viewport height */
}

.container {
  display: flex;
  height: 100%; /* Set container height to 100% of the body height */
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 200px;
  padding: 20px;
}

.sidebar-item {
  padding: 10px 0;
}

.sidebar-item.active {
  background-color: #555;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Add horizontal padding */
}

.profile-content {
  text-align: center; /* Center content within the container */
}

.profile-picture {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  border-radius: 50%;
}

.profile-info {
  margin-top: 20px;
}

.profile-info h1 {
  margin: 0;
}

.profile-info p {
  margin: 5px 0;
}

.rightbar {
  background-color: #eee;
  padding: 20px;
  margin-left: 20px; /* Add left margin */
  flex-grow: 1; /* Fill remaining space */
}

.profile-stats {
  display: flex; /* Display stats horizontally */
  justify-content: space-between; /* Align stats with space between them */
  align-items: center; /* Align items vertically */
  margin-bottom: 20px; /* Add margin to separate from description */
}

.stat {
  text-decoration: underline;
  color: #333;
  cursor: pointer;
}

.stat:hover {
  text-decoration: none;
}
