.settings14 {
  position: absolute;
  top: 284px;
  left: 312px;
  font-size: var(--font-size-41xl);
}
.side-menu-for-likes-and-follo-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display1 {
  position: absolute;
  top: 10px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.likes10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 70px;
  left: 422px;
  width: 140px;
  height: 57px;
}
.star-fill-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change1 {
  margin: 0;
}
.change-password2 {
  position: absolute;
  top: 18px;
  left: 63px;
  text-decoration: underline;
}
.following14 {
  position: absolute;
  top: 62px;
  left: 189px;
  width: 177px;
  height: 92px;
}
.notifs4 {
  position: absolute;
  top: 9px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.bell-fill-icon1,
.notifs3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 71px;
  width: 128px;
}
.side-menu-for-likes-and-follo5 {
  position: absolute;
  top: -25px;
  left: 853px;
  width: 587px;
  height: 791px;
  color: var(--color-silver-200);
}
.change-password3 {
  position: absolute;
  top: 366px;
  left: 312px;
  display: inline-block;
  width: 167px;
  height: 28px;
}
.group-15-16 {
  position: absolute;
  top: -41px;
  left: -26px;
  width: 338px;
  height: 760px;
  object-fit: cover;
}
.logout-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 63px;
}
.log-out6 {
  position: absolute;
  top: 13px;
  left: 46.4px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 86.3px;
}
.logout6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 417px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.settings16 {
  position: absolute;
  top: 13px;
  left: 42.1px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 94.9px;
}
.settings15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 299px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.profile13 {
  position: absolute;
  top: 13px;
  left: 48.5px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 80.9px;
}
.profile12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 193px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.home-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 64px;
}
.home-child4,
.home12,
.home13 {
  position: absolute;
}
.home13 {
  top: 13px;
  left: 61px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.home12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 102px;
  left: 15px;
  width: 178px;
  height: 64px;
}
.change-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
