@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.create-acc-child {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 435px;
  height: 405px;
}
.create-acc-child,
.create-acc-item,
.group-child3 {
  position: absolute;
  border-radius: var(--br-6xl);
}
.create-acc-item {
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--font-oswald);
  font-size: var(--font-size-xl);
  background-color: var(--color-gray-100);
  top: 249px;
  left: 31px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 374px;
  height: 50px;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-lightgray);
}
.group-child3 {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 233px;
  height: 42px;
}
.confirm {
  position: absolute;
  top: 5px;
  left: calc(50% - 32.5px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 65.9px;
  height: 31.2px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 330px;
  left: 101px;
  width: 233px;
  height: 42px;
}
.group-button:hover {
  animation: 2s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.create-acc-inner,
.group-input {
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--font-oswald);
  font-size: var(--font-size-xl);
  background-color: var(--color-gray-100);
  position: absolute;
  top: 177px;
  left: 31px;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 374px;
  height: 50px;
  padding: var(--padding-3xs) var(--padding-5xl);
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-lightgray);
}
.group-input {
  top: 112px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.create-acc,
.create-your-account {
  position: absolute;
  top: 54px;
  left: 97px;
}
.create-acc {
  top: 78px;
  left: 502px;
  width: 435px;
  height: 405px;
  opacity: 0;
}
.create-acc.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.side-menu-icon1 {
  position: absolute;
  right: -185px;
  bottom: -41px;
  width: 1713px;
  height: 231px;
  object-fit: contain;
}
.create-account1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-oswald);
}
