.settings17 {
  position: absolute;
  top: 284px;
  left: 312px;
  font-size: var(--font-size-41xl);
}
.side-menu-for-likes-and-follo-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display3 {
  position: absolute;
  top: 10px;
  left: 63px;
  text-decoration: underline;
}
.likes11,
.star-fill-icon6 {
  position: absolute;
  top: 57px;
  left: 422px;
  width: 149px;
  height: 57px;
}
.star-fill-icon6 {
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change2 {
  margin: 0;
}
.change-password4 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.following15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 49px;
  left: 189px;
  width: 168px;
  height: 92px;
}
.notifs6 {
  position: absolute;
  top: 9px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.bell-fill-icon2,
.notifs5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 58px;
  width: 128px;
}
.side-menu-for-likes-and-follo-child8 {
  position: absolute;
  top: 210px;
  left: 357px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 151px;
  height: 60px;
  cursor: pointer;
}
.side-menu-for-likes-and-follo-child9 {
  position: absolute;
  top: 216px;
  left: 445px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 54px;
  height: 48px;
}
.side-menu-for-likes-and-follo6 {
  position: absolute;
  top: -12px;
  left: 853px;
  width: 587px;
  height: 791px;
  color: var(--color-silver-200);
}
.display4,
.gremlin-modenight-mode {
  position: absolute;
  top: 366px;
  left: 312px;
  display: inline-block;
  width: 167px;
  height: 28px;
}
.gremlin-modenight-mode {
  top: 213px;
  left: 905px;
  width: 276px;
  height: 56px;
}
.display-child {
  position: absolute;
  top: 302px;
  left: 1219px;
  border-radius: 15px;
  background-color: var(--color-white);
  width: 133px;
  height: 58px;
}
.change-photo,
.submit {
  position: absolute;
  top: 313px;
  left: 905px;
  display: inline-block;
  width: 236px;
  height: 36px;
}
.submit {
  left: 1248px;
  color: var(--color-black);
  width: 100px;
  height: 27px;
}
.group-15-17 {
  position: absolute;
  top: -41px;
  left: -26px;
  width: 338px;
  height: 760px;
  object-fit: cover;
}
.logout-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 63px;
}
.log-out7 {
  position: absolute;
  top: 13px;
  left: 46.4px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 86.3px;
}
.logout7 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 417px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.settings19 {
  position: absolute;
  top: 13px;
  left: 42.1px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 94.9px;
}
.settings18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 299px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.profile15 {
  position: absolute;
  top: 13px;
  left: 48.5px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 80.9px;
}
.profile14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 193px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.home-child5 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 64px;
}
.home-child5,
.home14,
.home15 {
  position: absolute;
}
.home15 {
  top: 13px;
  left: 61px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.home14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 102px;
  left: 15px;
  width: 178px;
  height: 64px;
}
.display2 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
