.settings11 {
  position: absolute;
  top: 283px;
  left: 326px;
  font-size: var(--font-size-41xl);
}
.side-menu-for-likes-and-follo-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display {
  position: absolute;
  top: 10px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.likes9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 57px;
  left: 422px;
  width: 140px;
  height: 57px;
}
.star-fill-icon4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change {
  margin: 0;
}
.change-password {
  position: absolute;
  top: 18px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.following13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 49px;
  left: 189px;
  width: 168px;
  height: 92px;
}
.notifs1 {
  position: absolute;
  top: 9px;
  left: 63px;
  text-decoration: underline;
}
.bell-fill-icon,
.notifs {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs {
  top: 58px;
  width: 134px;
}
.side-menu-for-likes-and-follo4 {
  position: absolute;
  top: -12px;
  left: 853px;
  width: 587px;
  height: 791px;
  color: var(--color-silver-200);
}
.settings-child3 {
  position: absolute;
  top: 204px;
  left: 1202px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 151px;
  height: 60px;
}
.ellipse-div {
  position: absolute;
  top: 210px;
  left: 1290px;
  border-radius: 50%;
  background-color: var(--color-darkslategray-100);
  width: 54px;
  height: 48px;
}
.disable-notifications,
.notifs2 {
  position: absolute;
  top: 217px;
  left: 916px;
  display: inline-block;
  width: 228px;
  height: 33px;
}
.notifs2 {
  top: 373px;
  left: 326px;
  width: 167px;
  height: 28px;
}
.group-15-15 {
  position: absolute;
  top: -41px;
  left: -26px;
  width: 338px;
  height: 760px;
  object-fit: cover;
}
.logout-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 63px;
}
.log-out5 {
  position: absolute;
  top: 13px;
  left: 46.4px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 86.3px;
}
.logout5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 417px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.settings13 {
  position: absolute;
  top: 13px;
  left: 42.1px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 94.9px;
}
.settings12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 299px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.profile11 {
  position: absolute;
  top: 13px;
  left: 48.5px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 80.9px;
}
.profile10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 193px;
  left: 14px;
  width: 178px;
  height: 63px;
}
.home-child3 {
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 178px;
  height: 64px;
}
.home-child3,
.home10,
.home11 {
  position: absolute;
}
.home11 {
  top: 13px;
  left: 61px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.home10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 102px;
  left: 15px;
  width: 178px;
  height: 64px;
}
.settings10 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
