@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.create-acc-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 435px;
  height: 405px;
}
.group-child4 {
  border-radius: var(--br-6xl);
  background-color: var(--color-cornflowerblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child4,
.rectangle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 42px;
}
.yes {
  position: absolute;
  top: 5px;
  left: calc(50% - 16px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 57.7px;
  height: 31.2px;
}
.group-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 323px;
  left: 221px;
  width: 204px;
  height: 42px;
}
.no {
  position: absolute;
  top: 5px;
  left: calc(50% - 14px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 27px;
  height: 31px;
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 323px;
  left: 13px;
  width: 204px;
  height: 42px;
}
.confirming-will-give,
.terms-and-condition {
  margin: 0;
  position: absolute;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.terms-and-condition {
  top: 54px;
  left: calc(50% - 104.5px);
}
.confirming-will-give {
  top: 116px;
  left: 67px;
  display: inline-block;
  width: 308px;
  height: 186px;
}
.create-acc1 {
  position: absolute;
  top: 78px;
  left: 502px;
  width: 435px;
  height: 405px;
  opacity: 0;
}
.create-acc1.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.side-menu-icon2 {
  position: absolute;
  right: -185px;
  bottom: -41px;
  width: 1713px;
  height: 231px;
  object-fit: contain;
}
.terms-and-conditions {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-oswald);
}
