.profile-pic-icon1 {
  position: absolute;
  top: 84px;
  left: 268px;
  width: 168px;
  height: 150px;
}
.group-child3,
.group-child4 {
  position: absolute;
  top: 7px;
  left: 21.2px;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  width: 320.8px;
  height: 43px;
}
.group-child4 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.username3 {
  margin: 0;
}
.username2 {
  position: absolute;
  top: 10.1px;
  left: 21.2px;
  display: inline-block;
  width: 216.1px;
  height: 25px;
}
.about-you-child,
.group-div {
  position: absolute;
  top: 258px;
  left: 273px;
  width: 342px;
  height: 50px;
}
.about-you-child {
  border: 0;
  background-color: transparent;
  display: block;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  outline: 0;
  top: 314px;
  width: 348px;
  height: 143px;
  padding: 14px 17px;
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-gray-200);
}
.side-menu-for-likes-and-follo-inner {
  position: absolute;
  right: 550.8px;
  bottom: 0;
  width: 142.2px;
  height: 909px;
}
.side-menu-for-likes-and-follo-child1 {
  position: absolute;
  top: 32px;
  left: 106px;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.likes2,
.likes3 {
  position: absolute;
}
.likes3 {
  top: 10px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.likes2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 89px;
  left: 528px;
  width: 114px;
  height: 57px;
}
.star-fill-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.following4 {
  position: absolute;
  top: 18px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.following3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 81px;
  left: 295px;
  width: 171px;
  height: 64px;
}
.posts3 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.following-icon,
.posts2 {
  cursor: pointer;
  position: absolute;
}
.following-icon {
  top: -6px;
  left: -57px;
  width: 59px;
  height: 48px;
  object-fit: cover;
}
.posts2 {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 99px;
  left: 169px;
  width: 60px;
  height: 37px;
}
.side-menu-for-likes-and-follo1,
.side-menu-inner {
  position: absolute;
  right: 0;
  bottom: -146px;
  width: 693px;
  height: 909px;
}
.side-menu-inner {
  bottom: 0;
  width: 142.2px;
  object-fit: cover;
  transform: rotate(-180deg);
}
.side-menu-child1 {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: var(--color-white);
  width: 125px;
  height: 791px;
}
.profile3 {
  position: absolute;
  top: 9px;
  left: 59px;
}
.user-cicrle-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  transform: rotate(-180deg);
}
.profile2 {
  position: absolute;
  top: 193px;
  left: 18px;
  width: 144px;
  height: 55px;
  cursor: pointer;
}
.home-icon1,
.home3 {
  position: absolute;
  top: 14px;
  left: 59px;
}
.home-icon1 {
  height: 100%;
  width: 51.75%;
  top: 0;
  right: 48.25%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(-180deg);
}
.home2 {
  position: absolute;
  top: 61px;
  left: 18px;
  width: 114px;
  height: 51px;
}
.log-out3 {
  position: absolute;
  top: 16px;
  left: 56px;
}
.sign-out-squre-fill-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 53px;
  object-fit: cover;
  transform: rotate(-180deg);
}
.log-out2 {
  position: absolute;
  top: 442px;
  left: 18px;
  width: 136px;
  height: 53px;
  cursor: pointer;
}
.settings3 {
  position: absolute;
  top: 13px;
  left: 61px;
}
.setting-line-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 53px;
  object-fit: cover;
  transform: rotate(-180deg);
}
.settings2 {
  position: absolute;
  top: 319px;
  left: 18px;
  width: 149px;
  height: 53px;
  cursor: pointer;
}
.side-menu1 {
  position: absolute;
  right: 978px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-oswald);
}
.about-you1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
