.group-child11,
.group-child12 {
  position: absolute;
  top: 7px;
  left: 21.2px;
  border-radius: var(--br-11xl);
  background-color: var(--color-black);
  width: 320.8px;
  height: 43px;
}
.group-child12 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.username7 {
  margin: 0;
}
.username6 {
  position: absolute;
  top: 10.1px;
  left: 21.2px;
  display: inline-block;
  width: 216.1px;
  height: 25px;
}
.about-you-child,
.rectangle-parent5 {
  position: absolute;
  top: 241px;
  left: 304px;
  width: 342px;
  height: 50px;
}
.about-you-child {
  border: 0;
  background-color: transparent;
  height: 230px;
  width: 348px;
  display: block;
  font-family: var(--font-inter);
  font-size: var(--font-size-xs);
  outline: 0;
  top: 318px;
  padding: 22.5px 17px;
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-gray-200);
}
.group-child13 {
  background-color: var(--color-dimgray-100);
}
.group-child13,
.side-menu-for-likes-and-follo-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 587px;
  height: 791px;
}
.likes8 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.following10,
.likes7,
.posts4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 67px;
  left: 485px;
  width: 51px;
  height: 37px;
}
.following10,
.posts4 {
  left: 252px;
  width: 108px;
}
.posts4 {
  left: 63px;
  width: 60px;
}
.side-menu-for-likes-and-follo3 {
  position: absolute;
  top: -12px;
  left: 853px;
  width: 587px;
  height: 791px;
}
.side-menu-icon1 {
  position: absolute;
  right: 1209px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  object-fit: contain;
}
.about-you-inner,
.about-you-item {
  position: absolute;
  top: 106px;
  left: 304px;
  border-radius: var(--br-6xl);
  background-color: var(--color-black);
  width: 160px;
  height: 126px;
}
.about-you-inner {
  top: 91px;
  left: 295px;
  background-color: var(--color-white);
}
.about-you3 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
