.side-menu-icon4 {
  position: absolute;
  right: 1209px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  object-fit: contain;
  cursor: pointer;
}
.log-out13 {
  position: absolute;
  top: 16px;
  left: 56px;
}
.sign-out-squre-fill-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 53px;
  object-fit: cover;
}
.log-out12 {
  position: absolute;
  top: 408px;
  left: 16px;
  width: 136px;
  height: 53px;
  cursor: pointer;
}
.settings15 {
  position: absolute;
  top: 13px;
  left: 61px;
}
.setting-line-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 53px;
  object-fit: cover;
}
.settings14 {
  position: absolute;
  top: 280px;
  left: 16px;
  width: 157px;
  height: 53px;
}
.settings16 {
  position: absolute;
  top: 284px;
  left: 285px;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
}
.side-menu-for-likes-and-follo-child7 {
  position: absolute;
  right: 550.8px;
  bottom: 0;
  width: 142.2px;
  height: 909px;
}
.side-menu-for-likes-and-follo-child8 {
  position: absolute;
  top: 19px;
  left: 106px;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display1,
.likes10 {
  position: absolute;
  top: 10px;
  left: 63px;
}
.likes10 {
  top: 89px;
  left: 528px;
  width: 140px;
  height: 57px;
  cursor: pointer;
}
.star-fill-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change1 {
  margin: 0;
}
.change-password2,
.following13 {
  position: absolute;
  top: 18px;
  left: 63px;
}
.following13 {
  top: 81px;
  left: 295px;
  width: 177px;
  height: 92px;
  color: var(--color-white);
}
.notifs4 {
  position: absolute;
  top: 9px;
  left: 63px;
}
.bell-fill-icon1,
.notifs3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs3 {
  top: 90px;
  left: 106px;
  width: 128px;
  cursor: pointer;
}
.side-menu-for-likes-and-follo5 {
  position: absolute;
  right: 0;
  bottom: -146px;
  width: 693px;
  height: 909px;
  color: var(--color-silver-200);
}
.change-password3 {
  position: absolute;
  top: 366px;
  left: 285px;
  display: inline-block;
  color: var(--color-white);
  width: 167px;
  height: 28px;
}
.change-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-oswald);
}
