.settings9 {
  position: absolute;
  top: 284px;
  left: 285px;
  font-size: var(--font-size-41xl);
}
.side-menu-for-likes-and-follo-child5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display3 {
  position: absolute;
  top: 10px;
  left: 63px;
}
.likes11,
.star-fill-icon5 {
  position: absolute;
  top: 57px;
  left: 422px;
  width: 149px;
  height: 57px;
}
.star-fill-icon5 {
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change2 {
  margin: 0;
}
.change-password4,
.following14 {
  position: absolute;
  top: 18px;
  left: 63px;
}
.following14 {
  top: 49px;
  left: 189px;
  width: 168px;
  height: 92px;
  cursor: pointer;
}
.notifs6 {
  position: absolute;
  top: 9px;
  left: 63px;
}
.bell-fill-icon2,
.notifs5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs5 {
  top: 58px;
  width: 128px;
  cursor: pointer;
}
.side-menu-for-likes-and-follo-child6 {
  position: absolute;
  top: 210px;
  left: 357px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  width: 151px;
  height: 60px;
}
.ellipse-div {
  position: absolute;
  top: 216px;
  left: 445px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 54px;
  height: 48px;
}
.side-menu-for-likes-and-follo6 {
  position: absolute;
  top: -12px;
  left: 853px;
  width: 587px;
  height: 791px;
  color: var(--color-silver-200);
}
.display4,
.gremlin-modenight-mode {
  position: absolute;
  top: 366px;
  left: 285px;
  display: inline-block;
  width: 167px;
  height: 28px;
}
.gremlin-modenight-mode {
  top: 213px;
  left: 905px;
  width: 276px;
  height: 56px;
}
.display-child {
  position: absolute;
  top: 302px;
  left: 1219px;
  border-radius: 15px;
  background-color: var(--color-white);
  width: 133px;
  height: 58px;
}
.change-photo,
.submit {
  position: absolute;
  top: 313px;
  left: 905px;
  display: inline-block;
  width: 236px;
  height: 36px;
}
.submit {
  left: 1248px;
  color: var(--color-black);
  width: 100px;
  height: 27px;
}
.side-menu-icon7 {
  position: absolute;
  right: 1209px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  object-fit: contain;
}
.display2 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
