@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.group-child {
  position: absolute;
  top: 64px;
  left: 0;
  background-color: var(--color-darkslategray-200);
  width: 834px;
  height: 719px;
}
.side-menu-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 231px;
  height: 909px;
  object-fit: contain;
}
.rectangle-parent {
  position: absolute;
  top: -64px;
  left: -39px;
  width: 915px;
  height: 909px;
}
.log-in-child {
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--font-oswald);
  font-size: var(--font-size-xl);
  background-color: var(--color-darkgray);
  top: 220px;
  left: 948px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 374px;
  padding: var(--padding-3xs) 153px;
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-whitesmoke);
}
.group-item,
.log-in-child,
.log-in-item {
  position: absolute;
  border-radius: var(--br-6xl);
  height: 50px;
}
.log-in-item {
  border: 0;
  outline: 0;
  display: block;
  font-family: var(--font-oswald);
  font-size: var(--font-size-xl);
  background-color: var(--color-darkgray);
  top: 285px;
  left: 948px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 374px;
  padding: var(--padding-3xs) 148px;
  box-sizing: border-box;
  font-weight: 700;
  color: var(--color-whitesmoke);
}
.group-item {
  top: 0;
  left: 0;
  background-color: var(--color-cornflowerblue-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 282px;
}
.login {
  position: absolute;
  top: 10px;
  left: calc(50% - 22px);
  font-size: var(--font-size-xl);
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
}
.sign-in-squre-fill-icon {
  position: absolute;
  top: 7px;
  left: 70px;
  width: 42px;
  height: 37px;
  object-fit: cover;
}
.log-in-inner,
.rectangle-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  height: 50px;
}
.rectangle-group {
  background-color: transparent;
  position: absolute;
  top: 350px;
  left: 994px;
  width: 282px;
}
.log-in-inner:active,
.log-in-inner:hover,
.rectangle-group:active,
.rectangle-group:hover {
  animation: 2s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.log-in-inner {
  background-color: #1b91ff;
  top: 442px;
  left: 948px;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 374px;
}
.log-in-inner,
.log-in1,
.or {
  position: absolute;
}
.log-in1 {
  top: 173px;
  left: 1101px;
  color: var(--color-black);
}
.or {
  top: 400px;
  left: 1124px;
  color: #565656;
}
.line-div,
.log-in-child1 {
  position: absolute;
  top: 420.5px;
  left: 947.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 159px;
  height: 1px;
}
.log-in-child1 {
  left: 1163.5px;
}
.create-account {
  position: absolute;
  top: 452px;
  left: 1072px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.c7d47172-95fd-481f-949f-6445ff-icon {
  position: absolute;
  top: 60px;
  left: -68px;
  width: 663px;
  height: 551px;
  object-fit: cover;
}
.personify {
  position: absolute;
  top: 337px;
  left: 368px;
  font-size: 70px;
  text-decoration: underline;
  font-family: var(--font-orelega-one);
}
.log-in {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
