@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.post-textbox-child,
.post-textbox-item {
  position: absolute;
  top: 14.5px;
  left: 27.5px;
  border-radius: var(--br-31xl);
  background-color: var(--color-black);
  width: 834.5px;
  height: 120.5px;
}
.post-textbox-item {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.whats-on-your {
  position: absolute;
  top: 16.4px;
  left: 27.8px;
  display: inline-block;
  width: 243.7px;
  height: 25.5px;
}
.post-textbox {
  position: absolute;
  top: 538px;
  left: 383px;
  width: 862px;
  height: 135px;
}
.post-button-child,
.post-button-item {
  position: absolute;
  border-radius: var(--br-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 251.5px;
  height: 43.9px;
}
.post-button-child {
  top: 9.1px;
  left: 10.5px;
  background-color: var(--color-white);
}
.post-button-item {
  top: 0;
  left: 0;
  background-color: #349eff;
}
.post {
  position: absolute;
  top: 1px;
  left: 104px;
  font-size: var(--font-size-6xl);
  display: inline-block;
  font-family: var(--font-oswald);
  color: var(--color-white);
  text-align: left;
  width: 64px;
  height: 35.9px;
}
.post-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 631px;
  left: 1020px;
  width: 262px;
  height: 53px;
}
.post-button:hover {
  animation: 2s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.searchbar-child,
.searchbar-item {
  position: absolute;
  top: 8.5px;
  left: 25.2px;
  border-radius: var(--br-31xl);
  background-color: var(--color-black);
  width: 763.8px;
  height: 70.5px;
}
.searchbar-item {
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
}
.search {
  position: absolute;
  top: 14px;
  left: 111px;
  display: inline-block;
  width: 266px;
  height: 38.3px;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 48px;
  width: 56px;
  height: 46px;
}
.search-bar,
.searchbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 789px;
  height: 79px;
}
.search-bar {
  top: 14px;
  left: 405px;
  color: #c6c6c6;
}
.side-menu-icon2 {
  position: absolute;
  right: 1209px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  object-fit: contain;
}
.main-page {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: #747474;
  font-family: var(--font-oswald);
}
