.settings7 {
  position: absolute;
  top: 284px;
  left: 285px;
  font-size: var(--font-size-41xl);
}
.side-menu-for-likes-and-follo-child3 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-100);
  width: 587px;
  height: 791px;
}
.favorite-fill-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 63px;
  height: 57px;
}
.display {
  position: absolute;
  top: 10px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.likes9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 57px;
  left: 422px;
  width: 140px;
  height: 57px;
}
.star-fill-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 64px;
}
.change {
  margin: 0;
}
.change-password {
  position: absolute;
  top: 18px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.following12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 49px;
  left: 189px;
  width: 168px;
  height: 92px;
}
.notifs1 {
  position: absolute;
  top: 9px;
  left: 63px;
  font-size: var(--font-size-6xl);
  font-family: var(--font-oswald);
  color: var(--color-silver-200);
  text-align: left;
}
.bell-fill-icon,
.notifs {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 55px;
}
.notifs {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 58px;
  width: 134px;
}
.settings-child,
.side-menu-for-likes-and-follo4 {
  position: absolute;
  top: -12px;
  left: 853px;
  width: 587px;
  height: 791px;
}
.settings-child {
  top: 204px;
  left: 1202px;
  border-radius: var(--br-31xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 151px;
  height: 60px;
}
.settings-item {
  position: absolute;
  top: 210px;
  left: 1290px;
  border-radius: 50%;
  background-color: #3c3c3c;
  width: 54px;
  height: 48px;
}
.disable-notifications,
.notifs2 {
  position: absolute;
  top: 217px;
  left: 916px;
  display: inline-block;
  width: 228px;
  height: 33px;
}
.notifs2 {
  top: 374px;
  left: 285px;
  width: 167px;
  height: 28px;
}
.side-menu-icon5 {
  position: absolute;
  right: 1209px;
  bottom: -156px;
  width: 231px;
  height: 909px;
  object-fit: contain;
}
.settings6 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-200);
  height: 719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-oswald);
}
